* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    }

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    color: white;
    background-color: #0c2c43;
}

.App {
    color: #0c2c43;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
        margin: 6vh 0;
        align-self: center;
        font-size: 2.3em;
    }
    
    .form1 {
        @include centerChild;
        justify-content: space-around;
        height: 10vh;
        width: 95%;
        align-self: center;

        label {
            color: #0c2c43;
            width: 13%;
            font-weight: 800;
            font-size: 1em;

            .in {
                border: 1px solid #0c2c43;
                border-radius: 3px;
                width: 100%;
                padding: 7px;
                margin-top: 7px;
            }
        }

        .add {
            border: 1px solid #0c2c43;
            background-color: #3c6f93;
            color: #ffffff;
            width: 7%;
            padding: 4px;
            margin-top: 28px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border-radius: 4px;
            font-size: 1em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .tracker {
        margin-bottom: 6vh;
        align-self: center;
        width: 80%;
        border: 1px solid #0c2c43;
        margin-top: 8vh;
        border-spacing: 0px;
        
        th {
            background-color: #3c6f93;
            color: #ffffff;
            font-weight: 900;
            font-size: 1.1em;
        }
        
        th, td {
            padding: 15px;
            border: 1px solid #0c2c43;
            text-align: center;
            width: calc(100% / 7);
        }
        
        td {
            font-size: 0.9em;

            .in{
                border: 1px solid #0c2c43;
                padding: 4px;
                width: 100%;
                border-radius: 3px;
            }
        }

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        td {

            &.action {
                width: 100%;
                @include centerChild();
                flex-direction: column;
                gap: 5px;
            }

            .delete, .edit {
                border: 1px solid #0c2c43;
                background-color: #d71616;
                color: #ffffff;
                padding: 5px 15px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                border-radius: 4px;
                font-size: 0.9em;

                &.edit {
                    background-color: #384650;
                }
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
